<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<!-- Set timeout to 7 min to allow time for WP/Plug-in upgrades -->
		<httpRuntime executionTimeout="420" enableVersionHeader="false" />
		<!-- RemoteOnly / On -->
		<customErrors mode="RemoteOnly"/>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering removeServerHeader="true" ></requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<!-- DetailedLocalOnly / Detailed -->
		<httpErrors errorMode="DetailedLocalOnly" />
		<tracing>
			<traceFailedRequests>
				<!-- Trace rewrite rules / Must enable in Azure Site > App Service Logs > Failed request tracing -->
				<remove path="*" />
				<add path="*">
					<traceAreas>
						<add provider="WWW Server" areas="Rewrite,RequestRouting" verbosity="Verbose" />
					</traceAreas>
					<failureDefinitions timeTaken="00:00:00" statusCodes="200-399" />
				</add>
			</traceFailedRequests>
		</tracing>
		<rewrite>
			<rules>
				<rule name="Disable xmlrpc" stopProcessing="true">
					<match url="xmlrpc.php" />
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
				</rule>
				<rule name="WP Super Cache" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
						<add input="{QUERY_STRING}" pattern=".*=.*" negate="true" />
						<add input="{QUERY_STRING}" pattern=".*attachment_id=.*" negate="true" />
						<add input="{HTTP_COOKIE}" pattern="^.*(comment_author_|wordpress|wp-postpass_).*$" negate="true" />
						<add input="{DOCUMENT_ROOT}/wp-content/cache/supercache/{HTTP_HOST}/{R:1}index.html" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="wp-content/cache/supercache/{HTTP_HOST}/{R:1}index.html" />
				</rule>
				<rule name="WordPress" patternSyntax="Wildcard">
					<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<location path="wp-content/cache">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="max-age=86400, must-revalidate" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>
